`ifndef AHBUWRITEFOLLOWEDBYREADTEST_INCLUDED_
`define AHBUWRITEFOLLOWEDBYREADTEST_INCLUDED_

class AhbuWriteFollowedByReadTest extends AhbBaseTest;
  `uvm_component_utils(AhbuWriteFollowedByReadTest)

  AhbVirtualuWriteFollowedByReadSequence ahbVirtualuWriteFollowedByReadSequence;

  extern function new(string name = "AhbuWriteFollowedByReadTest", uvm_component parent = null);
  extern virtual task run_phase(uvm_phase phase);

endclass : AhbuWriteFollowedByReadTest

function AhbuWriteFollowedByReadTest::new(string name = "AhbuWriteFollowedByReadTest",uvm_component parent = null);
  super.new(name, parent);
endfunction : new


task AhbuWriteFollowedByReadTest::run_phase(uvm_phase phase);

 //foreach(ahbEnvironment.ahbSlaveAgentConfig[i]) begin
  /*  if(!ahbEnvironment.ahbSlaveAgentConfig[0].randomize() with {noOfWaitStates==3;}) begin
      `uvm_fatal(get_type_name(),"Unable to randomise noOfWaitStates")
    end
   if(!ahbEnvironment.ahbSlaveAgentConfig[1].randomize() with {noOfWaitStates==0;}) begin
      `uvm_fatal(get_type_name(),"Unable to randomise noOfWaitStates")
    end
*/

  //added 4 line
    ahbEnvironment.ahbMasterAgentConfig[0].noOfWaitStates = ahbEnvironment.ahbSlaveAgentConfig[1].noOfWaitStates ;
    ahbEnvironment.ahbMasterAgentConfig[0].noOfWaitStates = ahbEnvironment.ahbSlaveAgentConfig[0].noOfWaitStates ;
 //end

  ahbVirtualuWriteFollowedByReadSequence = AhbVirtualuWriteFollowedByReadSequence::type_id::create("ahbVirtualLength8WriteFollowedByReadSequence");
  `uvm_info(get_type_name(),$sformatf("AhbLength8WriteFollowedByReadTest"),UVM_LOW);

  phase.raise_objection(this);
  ahbVirtualuWriteFollowedByReadSequence.start(ahbEnvironment.ahbVirtualSequencer);
 #10;
  phase.drop_objection(this);

endtask : run_phase

`endif

